@model Final.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile for @Html.DisplayFor(model => model.Email)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LimitLeft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimitLeft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SystemStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SystemStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeriodFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeriodTill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodTill)
        </dd>
    </dl>
</div>