@model IEnumerable<Final.Models.Identity.ProfileSearchResultViewModel>

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimitLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodTill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LimitLeft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodTill)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
